@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css?v=2412111743);

header {
    position: absolute; /* wrap를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100; /* 제일 높은 값이 위로 올라감 */
    color: #fff;
    width: 100%; /* header에 absolute를 주면 무조건 width:100% */
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center; /* 로고 위아래 가운데 정렬 */
    padding: 0 20px; /* 좌우 여백 */
}
header .logo {
    margin: 9px 0 0 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    /* 글자 크기 색상 모두 지정 */
    font-family: 'eulyoo';
    font-size: 22px;
    line-height: 100px; /* header  높이 만큼 */
    padding: 0 25px;
}
header .tnb {
    display: flex;
}
header .tnb .mypage, header .tnb .search {
    font-size: 0; 
    line-height: 0; /* 글자를 안보이게 하려고 */ 
    width: 50px; /* 버튼의 크기*/
    height: 50px;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .mypage::before, header .tnb .search::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 17.5381C16.5563 17.5381 15.3204 17.0241 14.2924 15.9961C13.2641 14.9678 12.75 13.7318 12.75 12.2881C12.75 10.8443 13.2641 9.60846 14.2924 8.58046C15.3204 7.55221 16.5563 7.03809 18 7.03809C19.4438 7.03809 20.6796 7.55221 21.7076 8.58046C22.7359 9.60846 23.25 10.8443 23.25 12.2881C23.25 13.7318 22.7359 14.9678 21.7076 15.9961C20.6796 17.0241 19.4438 17.5381 18 17.5381ZM6.75 26.6825V25.6265C6.75 24.892 6.9495 24.2117 7.3485 23.5857C7.7475 22.9597 8.28075 22.4785 8.94825 22.142C10.4307 21.4152 11.9264 20.8701 13.4351 20.5066C14.9439 20.1431 16.4655 19.9613 18 19.9613C19.5345 19.9613 21.0561 20.1431 22.5649 20.5066C24.0736 20.8701 25.5693 21.4152 27.0518 22.142C27.7193 22.4785 28.2525 22.9597 28.6515 23.5857C29.0505 24.2117 29.25 24.892 29.25 25.6265V26.6825C29.25 27.315 29.0284 27.853 28.5851 28.2965C28.1419 28.7397 27.6039 28.9613 26.9711 28.9613H9.02888C8.39613 28.9613 7.85812 28.7397 7.41487 28.2965C6.97162 27.853 6.75 27.315 6.75 26.6825ZM9 26.7113H27V25.6265C27 25.3227 26.912 25.0415 26.736 24.7827C26.56 24.5242 26.3211 24.3132 26.0194 24.1497C24.7269 23.5132 23.4091 23.031 22.0661 22.703C20.7229 22.3752 19.3675 22.2113 18 22.2113C16.6325 22.2113 15.2771 22.3752 13.9339 22.703C12.5909 23.031 11.2731 23.5132 9.98062 24.1497C9.67887 24.3132 9.44 24.5242 9.264 24.7827C9.088 25.0415 9 25.3227 9 25.6265V26.7113ZM18 15.2881C18.825 15.2881 19.5313 14.9943 20.1188 14.4068C20.7063 13.8193 21 13.1131 21 12.2881C21 11.4631 20.7063 10.7568 20.1188 10.1693C19.5313 9.58184 18.825 9.28809 18 9.28809C17.175 9.28809 16.4688 9.58184 15.8813 10.1693C15.2938 10.7568 15 11.4631 15 12.2881C15 13.1131 15.2938 13.8193 15.8813 14.4068C16.4688 14.9943 17.175 15.2881 18 15.2881Z' fill='white'/%3E%3C/svg%3E%0A");    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px; /* 원래 아이콘의 넓이 (높이는 자동으로 들어감) */
}
header .tnb .search::before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6922 20.82C10.4154 20.82 8.48713 20.0304 6.90757 18.451C5.32824 16.8715 4.53857 14.9433 4.53857 12.6664C4.53857 10.3895 5.32824 8.46125 6.90757 6.8817C8.48713 5.30236 10.4154 4.5127 12.6922 4.5127C14.9691 4.5127 16.8974 5.30236 18.4769 6.8817C20.0562 8.46125 20.8459 10.3895 20.8459 12.6664C20.8459 13.6186 20.6861 14.528 20.3666 15.3947C20.0468 16.2614 19.6202 17.0151 19.0869 17.656L26.7589 25.328C26.9436 25.5125 27.038 25.7445 27.0422 26.024C27.0465 26.3036 26.952 26.5399 26.7589 26.733C26.5658 26.9261 26.3316 27.0227 26.0562 27.0227C25.7811 27.0227 25.547 26.9261 25.3539 26.733L17.6819 19.061C17.0152 19.6115 16.2486 20.0423 15.3819 20.3534C14.5152 20.6645 13.6187 20.82 12.6922 20.82ZM12.6922 18.8204C14.4102 18.8204 15.8654 18.2241 17.0576 17.0317C18.25 15.8395 18.8462 14.3844 18.8462 12.6664C18.8462 10.9484 18.25 9.49325 17.0576 8.30103C15.8654 7.10858 14.4102 6.51236 12.6922 6.51236C10.9742 6.51236 9.51913 7.10858 8.32691 8.30103C7.13446 9.49325 6.53824 10.9484 6.53824 12.6664C6.53824 14.3844 7.13446 15.8395 8.32691 17.0317C9.51913 18.2241 10.9742 18.8204 12.6922 18.8204Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 32px;
}
@media screen and (max-width:640px) { 
                    header {
                        height: 56px;
                        padding: 0 0 0 20px; /* 좌우 여백 */
                    }
                    header .logo {
                        margin: 5px 0 0 0;
                    }
                    header .logo img {
                        width: 133px; /* img태그는 넓이만 줘도 높이는 비율에 맞게 알아서 들어감*/
                    }
                    header .gnb .gnb_open {
                        display: block; /* 모바일에서만 나옴*/
                        width: 60px;
                        height: 56px; /* header의 높이 */
                        font-size: 0; /* 기존 글씨 숨김 */
                        line-height: 0;
                        position: relative; /* before 정렬의 기준 */
                    }
                    header .gnb .gnb_open::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4ZM4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 24px;
                    }
                    header .gnb .gnb_wrap {
                        display: none;
                    }
                    header .tnb {
                        display: none;
                    }

} /* media */

.visual {
    overflow: hidden;
    /* 높이가 낮으면 글자가 영역 밖으로 나갈 수도 있어서 */
    height: 100dvh;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    position: relative; /* scroll 정렬의 기준 */
}
.visual .wrapper {
    padding: 60dvh 0 0 0;
}
.visual .inner {
    /* h2와 p 전체의 콘텐츠의 높이를 암 
       콘첸츠 높이의 절반을 위로 이동 */
    transform: translateY(-50%);
}
.visual h2 {
    font-family: 'eulyoo';
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -0.07em; /* -7% */
    line-height: 1;
    margin: 0 0 14px 0;
    position: relative; /*span태그 정렬의 기준*/
}
.visual h2 span {
    position: absolute /* h2 기준으로 정렬*/;
    font-size: 200px;
    letter-spacing: -0.1em; /* -10% */
    color: rgba(255, 255, 255, 0.1);
    left: 115px;
    top: -72px;
}
.visual h2 p {
    font-size: 20px;
}
.visual .scroll {
    position: absolute; /* visual를 기준으로 정렬, after 정렬의 기준 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 39px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8); /*80%*/
}
.visual .scroll::after {
    content: "";
    position: absolute; /* scroll을 기준으로 정렬*/
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_40_10)'%3E%3Cpath d='M8.4999 14.4858L13.7061 9.27956C13.8832 9.10247 14.0898 9.01688 14.3259 9.02279C14.562 9.02869 14.7686 9.12018 14.9457 9.29726C15.1228 9.47435 15.2114 9.68095 15.2114 9.91706C15.2114 10.1532 15.1228 10.3598 14.9457 10.5368L9.50927 15.991C9.3676 16.1327 9.20823 16.2389 9.03115 16.3098C8.85406 16.3806 8.67698 16.416 8.4999 16.416C8.32281 16.416 8.14573 16.3806 7.96865 16.3098C7.79156 16.2389 7.63219 16.1327 7.49052 15.991L2.03635 10.5368C1.85927 10.3598 1.77368 10.1502 1.77958 9.9082C1.78548 9.66619 1.87698 9.45664 2.05406 9.27956C2.23114 9.10247 2.43774 9.01393 2.67385 9.01393C2.90996 9.01393 3.11656 9.10247 3.29364 9.27956L8.4999 14.4858Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_40_10'%3E%3Crect width='17' height='17' fill='white' transform='translate(0 17) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    animation-name: scrllo_move;
    animation-duration: 3s; /* 3초동안 한번 */
    animation-iteration-count: infinite; /* 반복 횟수 - 무한*/
    animation-timing-function: infinite; /* 가속도 삭제 */
}
@keyframes scrllo_move {
    0% { bottom: -15px; }
    50% { bottom: -30px; }
    100% { bottom: -15px; }
}
@media screen and (max-width:640px){
                .visual .wrapper {
                    padding: 60dvh 0 0 0;
                }
                .visual h2 {
                    font-size: 45px;
                    margin: 0 0 14px 0;
                }
                .visual h2 span {
                    font-size: 64px;
                    letter-spacing: -0.1em; /* -10% */
                    left: 49px;
                    top: -20px;
                }
                .visual p {
                    font-size: 15px;
                }
                .visual p br {
                    display: none;
                }
                .visual .scroll {
                    font-size: 12px;
                }
                .visual .scroll::after {
                    bottom: -20px;
                }
} /* media */

.book {
    margin: 139px 0 0 0;
}
.book .inner {
    display: flex;
    justify-content: space-between;
    width: 1717px;
    /* flex는 flex를 준 요소의 넓이보다
        내부의 넓이가 길면 무조건 넓이를 바꿈 
        넓이를 유지하려면 flex를 준 요소의
        넓이를 고정값으로 줘야함 */
    position: relative;
    left: calc(50% - 630px);
}
.book .tit h2 {
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 10px 0 9px 0;
}
.book .list ul {
    display: flex;
    gap: 24px;
}
.book .list ul li {
    width: 260px;
    /* pc와 모바일 모두 브라우저의 넓이에 따라서
        책의 넓이가 바뀌지 않고 보이는 책을 수만 달라짐 */
}
.book .list ul li a {
    display: block;
}
.book .list ul li a .photo {
    overflow: hidden; 
    font-size: 0; /* 이미지 하단의 여백 삭제 */
    line-height: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.book .list ul li a .photo img {
    width: 100%;
}
.book .list ul li a h3 {
    font-family: 'eulyoo';
    font-size: 22px;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 28px 0 20px 0;
    /* 1줄 제한*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .list ul li a h3 span {
    position: relative; /* after 정렬의 기준 */
}
.book .list ul li a h3 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 1s;
}
.book .list ul li a:hover h3 span::after {
    width: 100%;
}
.book .more {
    position: absolute; /* inner를 기준으로 정렬*/
    left: 0;
    top : 225px;
}
.book .more a {
    display: block;
    padding: 13px 103px 11px 27px;
    background-color: #F4EFE9;
    border-radius: 40px;
    color: #796254;
}
.book .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 27px;
    top : 16px;
    width: 28px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='%23796254' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.book .more a:hover {
    background-color: #796254;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    animation-name: more-ani;
    animation-timing-function: linear; /* 가속도 없음 */
    animation-duration: 2s; /* 애니메이션 1번 실행 시간 */
    animation-iteration-count: infinite; /* 무한 반복 */
}
/* 화살표가 좌우로 움직이는 애니메이션 */
@keyframes more-ani {
    0% {right: 27px;}
    50% {right: 50px;}
    100% {right: 27px;}
}
@media screen and (max-width:640px){
                    .book {
                        margin: 79px 0 0 0;
                    }
                    .book .inner {
                        display: block;
                        width: auto;
                        left: auto; /* 원래 안준것 처럼 */
                        margin: 0 0 0 20px;

                    }
                    .book .tit h2 {
                        font-size: 35px;
                        margin: 0;
                    }
                    .book .tit h2 br {
                        display: none; /* 줄바꿈 삭제 */
                    }
                    .book .tit p {
                        display: none;
                    }
                    .book .list {
                        margin: 20px 0 0 0;
                        overflow-x: auto;
                        /* x는 좌우, 좌우면 내부 컨텐츠의 길이가 나보다 더 길면
                            콘텐츠를 좌우 스크롤 한다. */
                    }
                    .book .list ul {
                        gap: 16px; /* 여백 */
                        width: 984px;
                        /* 180(책넓이) *5(li갯수) = 900 
                            16(책과책사이여백, gap) * (5-1) = 64 
                            900 + 64= 964 + 20여백 더하기 = 984
                        */
                    }
                    .book .list ul li {
                        width: 260px;
                        /* pc와 모바일 모두 브라우저의 넓이에 따라서
                            책의 넓이가 바뀌지 않고 보이는 책을 수만 달라짐 */
                    }
                    .book .list ul li a {
                        display: block;
                    }
                    .book .list ul li a h3 {
                        font-size: 20px;
                        padding: 13px 0 5px 0;
                        /* 1줄 제한 -> 해제 */
                        overflow: visible;
                        white-space: normal;
                    }
                    .book .more {
                        left: auto;
                        right: 20px; /* left:0이었는데 right:0;으로 변경시
                                     반드시 left:auto;로 바꿔주고 right를 줘야함. */
                        top : 3px;
                    }
                    .book .more a {
                        width: 37px;
                        height: 37px;
                        padding: 0;
                        font-size: 0; /* 글자 숨김*/
                        line-height: 0;
                    }
                    .book .more a::after {
                        display: none; /* 숨김 */
                    }
                    .book .more a::before {
                        content: "";
                        position: absolute; /* more를 기준으로 정렬 */
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23796254'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 24px;
                    }
                    .book .more a:hover::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23fff'/%3E%3C/svg%3E%0A");
                    }
              
}/* media */

.interview { 
    padding: 119px 0 149px 0;
    margin: 100px 0 0 0;
    background-color: rgba(244, 239, 233, 0.7)
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0px 0 9px 0;
}
.interview .list {
    margin: 55px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between; /* 여백 */
}
.interview .list ul li {
    width: 404px;
}
.interview .list ul li:nth-child(2) {
    margin: 49px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* inner 정렬의 기준 */
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 428px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before 정렬의 기준 */
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 50px 0 50px 0;
}
.interview .list ul li a .photo::before {
    display: none; /* 찾아서 되돌려 놓기!! */
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}
.interview .list ul li a .inner {
    position: absolute; /* a를 기준으로 정렬 */
    left: 35px;
    bottom: 34px;
    width: calc(100% - 70px);
    /* 전체를 꽉채우는 넓이 100%에서 왼쪽여백과 오른쪽 여백을 뺌 */
    color: #fff;
    display: flex;
    justify-content: space-between; /* width가 있어서 가능함 양쪽 정렬 */
    align-items: center; /* 위아래 가운데 정렬 */
}
.interview .list ul li a .inner h3 {
    font-family: 'eulyoo';
    font-size: 30px;
    line-height: 1.2;
}
.interview .list ul li a .inner p {
    display: none;
}
.interview .list ul li a .inner span {
    width: 60px; /* 아이콘 크기 */
    height: 60px;
    font-size: 0; /* 글자 안보이게 */
    line-height: 0;
    position: relative; /* before 정렬의 기준*/
}
.interview .list ul li a .inner span::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='61' viewBox='0 0 60 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.125 31.8574H16.625C16.3771 31.8574 16.1692 31.7733 16.0012 31.6049C15.8337 31.437 15.75 31.2287 15.75 30.9799C15.75 30.7316 15.8337 30.5241 16.0012 30.3574C16.1692 30.1908 16.3771 30.1074 16.625 30.1074H29.125V17.6074C29.125 17.3595 29.2092 17.1518 29.3775 16.9843C29.5454 16.8164 29.7538 16.7324 30.0025 16.7324C30.2508 16.7324 30.4583 16.8164 30.625 16.9843C30.7917 17.1518 30.875 17.3595 30.875 17.6074V30.1074H43.375C43.6229 30.1074 43.8306 30.1916 43.9981 30.3599C44.166 30.5278 44.25 30.7362 44.25 30.9849C44.25 31.2333 44.166 31.4408 43.9981 31.6074C43.8306 31.7741 43.6229 31.8574 43.375 31.8574H30.875V44.3574C30.875 44.6053 30.7908 44.8133 30.6225 44.9812C30.4546 45.1487 30.2462 45.2324 29.9975 45.2324C29.7492 45.2324 29.5417 45.1487 29.375 44.9812C29.2083 44.8133 29.125 44.6053 29.125 44.3574V31.8574Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 오버스타일 -- 브라우저 넓이 641이상에서만 적용_min-width:641px */
@media screen and (min-width:641px){ 
            .interview .list ul li a:hover .photo::before {
                display: none; /*숨김*/
            }
            .interview .list ul li a:hover .photo img {
                filter: grayscale(0);
            }
            .interview .list ul li a:hover .inner {
                left: 0;
                bottom: -65px;
                width: calc(100% - 35px);
                /* 전체를 꽉채우는 넓이 100%에서 오른쪽 여백을 뺌 */
                display: block;
                background-color: #796254;
                padding: 41px 34px 28px 34px;
                border-radius: 40px 0 40px 0;
            }
            .interview .list ul li:nth-child(2) a:hover .inner {
                border-radius: 0 40px 0 40px;
            }
            .interview .list ul li a:hover .inner h3 {
                font-size: 25px;
                font-weight: 800;
            }
            .interview .list ul li a:hover .inner h3 br {
                display: none;
            }
            .interview .list ul li a:hover .inner p {
                display: block;
                margin: 10px 0 36px 0;

                /* 2줄 제한 */
                line-height: 1.4; /* 행간 */
                height: 2.8em; /* 행간 * 줄수 = 단위는 em*/
                overflow: hidden;
            }
            .interview .list ul li a:hover .inner span {
                width: auto; /* 아이콘 크기 */
                height: auto;
                font-size: 15px; /* 글자 안보이게 */
                line-height: 1.4;
                color: rgba(255, 255, 255, 0.8);
                display: block;
                /* span태그가 가진 넓이 안에서 글자가 오른쪽 정렬
                    span태그가 block요소이거나 넓이가 없으면 적용 x*/
                text-align: right;
                padding: 0 22px 0 0;
            }
            .interview .list ul li a:hover .inner span::before {
                left: auto;
                right: 0;
                /* left:0이 었다가 right:0으로 변경하려면
                    반드시 left:auto로 left값을 취소해야함*/
                top: 0;
                width: 19px;
                height: 19px;
            }
} /*media*/
@media screen and (max-width:640px){ 
                    .interview { 
                        padding: 76px 0 58px 0;
                        margin: 88px 0 0 0;
                    }
                    .interview .tit {
                        text-align: left;
                    }
                    .interview .tit h2 {
                        font-size: 35px;
                        margin: 0;
                    }
                    .interview .tit p {
                        display: none;
                    }
                    .interview .list {
                        margin: 20px 0 0 0;
                    }
                    .interview .list ul {
                        display: block; /* flex해제*/
                    }
                    .interview .list ul li {
                        width: auto;
                    }
                    .interview .list ul li:nth-child(2),
                    .interview .list ul li:nth-child(3) {
                        display: none; /* li 순서대로 숨김*/  
                    }
                    .interview .list ul li a .photo {
                        overflow: hidden;
                        height: 295px;
                        border-radius: 10px;
                    }
                    .interview .list ul li a .photo::before {
                        display: none;
                    }
                    .interview .list ul li a .photo img {
                        filter: grayscale(0);
                    }
                    .interview .list ul li a .inner {
                        position: relative; /* absolute 해제 */
                        left: auto;
                        bottom: auto;
                        width: auto;
                        color: #796254;
                        display: block; /* flex 해제 */
                        margin: 18px 0 0 0;
                    }
                    .interview .list ul li a .inner h3 {
                        font-size: 25px;
                        margin: 0 0 13px 0;
                    }
                    .interview .list ul li a .inner h3 br {
                        display: none; /* 줄바꿈 삭제 */
                    }
                    .interview .list ul li a .inner p {
                        display: block; /* 보임 */
                        /* max-height 최대 3줄로 제한 */
                        line-height: 1.4;
                        max-height: 4.2em; /* 행간 * 줄수 = 단위는 em */
                        overflow: hidden;
                    }
                    .interview .list ul li a .inner span {
                        width: 39px; /* 아이콘 크기 */
                        height: 39px;
                        font-size: 0; /* 글자 안보이게 */
                        line-height: 0;
                        position: absolute; 
                        right: 0;
                        top: -7px;
                    }
                    .interview .list ul li a .inner span::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9311 20.0686H10.8061C10.6449 20.0686 10.5098 20.0138 10.4006 19.9044C10.2917 19.7953 10.2373 19.6599 10.2373 19.4982C10.2373 19.3368 10.2917 19.2019 10.4006 19.0936C10.5098 18.9852 10.6449 18.9311 10.8061 18.9311H18.9311V10.8061C18.9311 10.6449 18.9858 10.5099 19.0952 10.401C19.2043 10.2919 19.3397 10.2373 19.5014 10.2373C19.6628 10.2373 19.7977 10.2919 19.9061 10.401C20.0144 10.5099 20.0686 10.6449 20.0686 10.8061V18.9311H28.1936C28.3547 18.9311 28.4897 18.9858 28.5986 19.0952C28.7077 19.2043 28.7623 19.3397 28.7623 19.5014C28.7623 19.6628 28.7077 19.7977 28.5986 19.9061C28.4897 20.0144 28.3547 20.0686 28.1936 20.0686H20.0686V28.1936C20.0686 28.3547 20.0138 28.4898 19.9044 28.599C19.7953 28.7079 19.6599 28.7623 19.4982 28.7623C19.3368 28.7623 19.2019 28.7079 19.0936 28.599C18.9852 28.4898 18.9311 28.3547 18.9311 28.1936V20.0686Z' fill='%23796254'/%3E%3C/svg%3E%0A");
                    }
}/* media */

.story {
    margin: 137px 0;
}
.story .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.story .tit h2 {
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0px 0 9px 0;
}
.story .list {
    margin: 22px 0 0 0;
}
.story .list ul {
    display: flex;
    gap: 24px;
    width: 1581px;
    /* li 사이즈 297 * li 갯수 5 = 1485 
        li사이여백 24 * li갯수 - 14 = 96
        1485 + 96 = 1581 */
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a {
    display: block;
}
.story .list ul li a .photo {
    overflow: hidden;
    height: 292px;
}
.story .list ul li.long a .photo {
    height: 412px;
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /* 부드럽게 */
}
.story .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1); /* 마지막은 무조건 1 확대*/
}
.story .list ul li a .inner strong {
    color: #796254;
    margin: 18px 0 0px 0;
    display: block; /* margin 적용 위해 */

    /* 1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .inner h3 {
    font-family: 'eulyoo';
    font-size: 22px;
    color: #1d1d1d;
    margin: 7px 0 13px 0;

    /* 2줄 제한*/
    line-height: 1.2;
    height: 2.4em; /* 행간(1.2) * 줄수 = 단위는 em */
    overflow: hidden;
}
.story .list ul li a .inner p {
    /* 7줄 제한 */
    line-height: 1.4;
    height: 9.8em; /* 행간(1.4) * 줄수(7줄) = 단위 em*/
    overflow: hidden;
}
.story .list ul li.long a .inner p {
    /* 2줄 제한 */
    line-height: 1.4;
    height: 2.8em;/* 행간(1.4) * 줄수(2줄) = 단위 em*/
}
.story .more {
    position: absolute; /* inner를 기준으로 정렬*/
    right: 0;
    top: 2px;
}
.story .more a {
    display: block;
    padding: 13px 103px 11px 27px;
    background-color: #F4EFE9;
    border-radius: 40px;
    color: #796254;
}
.story .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 27px;
    top : 16px;
    width: 28px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='%23796254' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (min-width:641px){
                        /* 브라우저 사이즈 641이상에서만 적용 */
                        .story .more a:hover {
                            background-color: #796254;
                            color: #fff;
                        }
                        .story .more a:hover::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            animation-name: more-ani;
                            animation-timing-function: linear; /* 가속도 없음 */
                            animation-duration: 2s; /* 애니메이션 1번 실행 시간 */
                            animation-iteration-count: infinite; /* 무한 반복 */
                        }
}/* media */
@media screen and (max-width:640px){ 
                    .story {
                        margin: 63px 0;
                    }
                    .story .tit h2 {
                        font-size: 35px;
                    }
                    .story .list {
                        margin: 20px 0 0 0;
                    }
                    .story .list ul {
                        display: block; /* flex 해제*/
                        width: auto;
                    }
                    .story .list ul li {
                        width: auto;
                        border-bottom: 1px solid #EEEEEE;
                    }
                    .story .list ul li:first-child {
                        border-top: 1px solid #EEEEEE;
                    }
                    .story .list ul li:nth-child(4),
                    .story .list ul li:nth-child(5) {
                        display: none; /* 줄삭제*/
                    }
                    .story .list ul li a {
                        display: flex; 
                        flex-direction: row-reverse; /* 좌우 반전 */
                        padding: 13px 0 17px 0;
                        justify-content: space-between;
                    }
                    .story .list ul li a .photo {
                        height: 74px;
                        width: 30%;
                    }
                    .story .list ul li.long a .photo {
                        height: 74px;
                    }
                    .story .list ul li a .inner {
                        width :60%
                        /*width: calc(100% - 120px) 고정값 px일때*/
                    }
                    .story .list ul li a .inner strong {
                        margin: 0 0 5px 0;
                    }
                    .story .list ul li a .inner h3 {
                        font-size: 20px;
                        margin: 0;
                    }
                    .story .list ul li a .inner p {
                        display: none; /* 숨김 */
                    }
                    .story .more {
                        top: 3px;
                    }
                    .story .more a {
                        padding: 0;
                        width: 37px;
                        height: 37px;
                        font-size: 0; /* 글자 숨김 */
                        line-height: 0;
                    }
                    .story .more a::after {
                       display: none;
                    }
                    .story .more a::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23796254'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 24px;
                    }
}/*media*/

footer {
    padding: 99px 0 126px 0;;
    margin: 136px 0 0 0;
    background-color: #796254;
    color: rgba(255, 255, 255, 0.8)
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position:  relative; /* copyright 정렬의 기준 */
}
footer h2 {
    display: none; /* 숨김 */
}
footer .slogan {
    font-family: 'eulyoo';
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
}
footer .f_info .group + .group {
    margin: 52px 0 0 0; /* 위아래 선택자 */
}

footer .f_info .group h3 {
    font-family: 'eulyoo';
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    margin: 0 0 7px 0;
}
footer .f_info .group.sns ul {
    display: flex;
    gap: 40px;
}
footer .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
}
footer .copyright .f_logo img {
    width: 186px;
}
footer .copyright .copy {
    margin: 8px 0 0 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6)
}
@media screen and (max-width:640px){ 
                    footer {
                        padding: 6% 0 88px 0;;
                        margin: 73px 0 0 0;
                    }
                    footer .wrapper {
                        display: block;
                    }
                    footer .slogan {
                        font-size: 20px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                        padding: 0px 0px 28px 0px;
                        margin: 0 0 57px 0;
                    }
                    footer .f_info .group + .group {
                        margin: 52px 0 0 0; /* 위아래 선택자 */
                    }
                    
                    footer .f_info .group h3 {
                        font-size: 20px;
                        margin: 0 0 6px 0;
                    }
                    footer .f_info .group.sns ul {
                        gap: 34px;
                        flex-wrap: wrap; /* 줄바꿈 허용 */
                    }
                    footer .copyright {
                        position: relative;
                        bottom: auto;
                        left: auto;
                        margin: 77px 0 0 0;
                    }
                    footer .copyright .f_logo img {
                        width: 146px;
                    }
                    footer .copyright .copy {
                        margin: 8px 0 0 0;
                        font-size: 13px;
                        color: rgba(255, 255, 255, 0.6)
                    }
}/*media */