@import url(default.css); /* default.css를 이문서에 복사해서 넣는 것 처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로*/
    left: 0;
    top: 0;
    z-index: 100; 
    /* position 속성을 갖은 요소는 서로 위아래 순서가 생김
        header는 맨위에 둘 요소라 제일 높은값 100을 줌
    */
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;  /* 가운데 정렬 사이사이 컨텐츠*/
}
header .logo {
    margin: 23px 0 0 0;

}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
        하위에 메뉴로 이동할때 정확한 높이가 안잡히면 out됨 */
        font-family: 'Gmarket Sans'; 
        font-weight: 500;
        font-size: 20px;
        padding: 0 30px 0 30px
}
header .tnb {
    display: flex;
    margin: 38px 0 0 0;
}
header .tnb .mypage a {
    display: block; /* a태그 시 줘야함 */
    width: 34px;
    height: 34px;
   
    /* 글자 지우고 아이콘으로 대체*/
    font-size: 0;
    line-height: 0;
    position: relative; /* 넣기 */
}
header .tnb .mypage a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9998 17.0001C15.4415 17.0001 14.1075 16.4452 12.9978 15.3355C11.888 14.2258 11.3332 12.8917 11.3332 11.3334C11.3332 9.77508 11.888 8.44105 12.9978 7.33133C14.1075 6.22161 15.4415 5.66675 16.9998 5.66675C18.5582 5.66675 19.8922 6.22161 21.0019 7.33133C22.1116 8.44105 22.6665 9.77508 22.6665 11.3334C22.6665 12.8917 22.1116 14.2258 21.0019 15.3355C19.8922 16.4452 18.5582 17.0001 16.9998 17.0001ZM5.6665 25.5001V24.3667C5.6665 23.564 5.8731 22.8261 6.2863 22.1532C6.69949 21.4803 7.24845 20.9667 7.93317 20.6126C9.39706 19.8806 10.8846 19.3317 12.3957 18.9657C13.9068 18.5997 15.4415 18.4167 16.9998 18.4167C18.5582 18.4167 20.0929 18.5997 21.604 18.9657C23.1151 19.3317 24.6026 19.8806 26.0665 20.6126C26.7512 20.9667 27.3002 21.4803 27.7134 22.1532C28.1266 22.8261 28.3332 23.564 28.3332 24.3667V25.5001C28.3332 26.2792 28.0557 26.9463 27.5009 27.5011C26.946 28.056 26.279 28.3334 25.4998 28.3334H8.49984C7.72067 28.3334 7.05366 28.056 6.4988 27.5011C5.94393 26.9463 5.6665 26.2792 5.6665 25.5001ZM8.49984 25.5001H25.4998V24.3667C25.4998 24.107 25.4349 23.8709 25.305 23.6584C25.1752 23.4459 25.004 23.2806 24.7915 23.1626C23.5165 22.5251 22.2297 22.047 20.9311 21.7282C19.6325 21.4095 18.3221 21.2501 16.9998 21.2501C15.6776 21.2501 14.3672 21.4095 13.0686 21.7282C11.77 22.047 10.4832 22.5251 9.20817 23.1626C8.99567 23.2806 8.82449 23.4459 8.69463 23.6584C8.56477 23.8709 8.49984 24.107 8.49984 24.3667V25.5001ZM16.9998 14.1667C17.779 14.1667 18.446 13.8893 19.0009 13.3345C19.5557 12.7796 19.8332 12.1126 19.8332 11.3334C19.8332 10.5542 19.5557 9.88723 19.0009 9.33237C18.446 8.77751 17.779 8.50008 16.9998 8.50008C16.2207 8.50008 15.5537 8.77751 14.9988 9.33237C14.4439 9.88723 14.1665 10.5542 14.1665 11.3334C14.1665 12.1126 14.4439 12.7796 14.9988 13.3345C15.5537 13.8893 16.2207 14.1667 16.9998 14.1667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global {
    margin: 0 8px 0 13px;
}
header .tnb .global button {
    width: 34px;
    height: 34px;

        /* 글자 지우고 아이콘으로 대체*/
        font-size: 0;
        line-height: 0;
        position: relative; /* 넣기 */
}
header .tnb .global button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0002 31.1666C15.0641 31.1666 13.2342 30.7947 11.5106 30.051C9.78697 29.3072 8.28176 28.2919 6.99495 27.0051C5.70815 25.7183 4.69287 24.2131 3.94912 22.4895C3.20537 20.7659 2.8335 18.936 2.8335 16.9999C2.8335 15.0402 3.20537 13.2044 3.94912 11.4926C4.69287 9.78082 5.70815 8.28152 6.99495 6.99471C8.28176 5.7079 9.78697 4.69263 11.5106 3.94888C13.2342 3.20513 15.0641 2.83325 17.0002 2.83325C18.9599 2.83325 20.7956 3.20513 22.5075 3.94888C24.2193 4.69263 25.7186 5.7079 27.0054 6.99471C28.2922 8.28152 29.3075 9.78082 30.0512 11.4926C30.795 13.2044 31.1668 15.0402 31.1668 16.9999C31.1668 18.936 30.795 20.7659 30.0512 22.4895C29.3075 24.2131 28.2922 25.7183 27.0054 27.0051C25.7186 28.2919 24.2193 29.3072 22.5075 30.051C20.7956 30.7947 18.9599 31.1666 17.0002 31.1666ZM17.0002 28.2624C17.6141 27.4124 18.1453 26.527 18.5939 25.6062C19.0425 24.6853 19.4085 23.7055 19.6918 22.6666H14.3085C14.5918 23.7055 14.9578 24.6853 15.4064 25.6062C15.855 26.527 16.3863 27.4124 17.0002 28.2624ZM13.3168 27.6958C12.8918 26.9166 12.52 26.1079 12.2012 25.2697C11.8825 24.4315 11.6168 23.5638 11.4043 22.6666H7.22516C7.90988 23.8471 8.76579 24.8742 9.79287 25.7478C10.82 26.6214 11.9946 27.2708 13.3168 27.6958ZM20.6835 27.6958C22.0057 27.2708 23.1804 26.6214 24.2075 25.7478C25.2345 24.8742 26.0904 23.8471 26.7752 22.6666H22.596C22.3835 23.5638 22.1179 24.4315 21.7991 25.2697C21.4804 26.1079 21.1085 26.9166 20.6835 27.6958ZM6.021 19.8333H10.8377C10.7668 19.361 10.7137 18.8947 10.6783 18.4343C10.6429 17.9739 10.6252 17.4958 10.6252 16.9999C10.6252 16.5041 10.6429 16.026 10.6783 15.5655C10.7137 15.1051 10.7668 14.6388 10.8377 14.1666H6.021C5.90294 14.6388 5.8144 15.1051 5.75537 15.5655C5.69634 16.026 5.66683 16.5041 5.66683 16.9999C5.66683 17.4958 5.69634 17.9739 5.75537 18.4343C5.8144 18.8947 5.90294 19.361 6.021 19.8333ZM13.671 19.8333H20.3293C20.4002 19.361 20.4533 18.8947 20.4887 18.4343C20.5241 17.9739 20.5418 17.4958 20.5418 16.9999C20.5418 16.5041 20.5241 16.026 20.4887 15.5655C20.4533 15.1051 20.4002 14.6388 20.3293 14.1666H13.671C13.6002 14.6388 13.547 15.1051 13.5116 15.5655C13.4762 16.026 13.4585 16.5041 13.4585 16.9999C13.4585 17.4958 13.4762 17.9739 13.5116 18.4343C13.547 18.8947 13.6002 19.361 13.671 19.8333ZM23.1627 19.8333H27.9793C28.0974 19.361 28.1859 18.8947 28.245 18.4343C28.304 17.9739 28.3335 17.4958 28.3335 16.9999C28.3335 16.5041 28.304 16.026 28.245 15.5655C28.1859 15.1051 28.0974 14.6388 27.9793 14.1666H23.1627C23.2335 14.6388 23.2866 15.1051 23.322 15.5655C23.3575 16.026 23.3752 16.5041 23.3752 16.9999C23.3752 17.4958 23.3575 17.9739 23.322 18.4343C23.2866 18.8947 23.2335 19.361 23.1627 19.8333ZM22.596 11.3333H26.7752C26.0904 10.1527 25.2345 9.12561 24.2075 8.252C23.1804 7.37839 22.0057 6.72909 20.6835 6.30409C21.1085 7.08325 21.4804 7.89193 21.7991 8.73013C22.1179 9.56832 22.3835 10.436 22.596 11.3333ZM14.3085 11.3333H19.6918C19.4085 10.2944 19.0425 9.3145 18.5939 8.39367C18.1453 7.47284 17.6141 6.58742 17.0002 5.73742C16.3863 6.58742 15.855 7.47284 15.4064 8.39367C14.9578 9.3145 14.5918 10.2944 14.3085 11.3333ZM7.22516 11.3333H11.4043C11.6168 10.436 11.8825 9.56832 12.2012 8.73013C12.52 7.89193 12.8918 7.08325 13.3168 6.30409C11.9946 6.72909 10.82 7.37839 9.79287 8.252C8.76579 9.12561 7.90988 10.1527 7.22516 11.3333Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual {
    height: 960px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover; /* cover 꽉차게*/
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans'; 
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    padding: 658px 0 0 0;
}