@import url(default.css); /* default.css를 이문서에 복사해서 넣는 것 처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로*/
    left: 0;
    top: 0;
    z-index: 100; 
    /* position 속성을 갖은 요소는 서로 위아래 순서가 생김
        header는 맨위에 둘 요소라 제일 높은값 100을 줌 */
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;  /* 가운데 정렬 사이사이 컨텐츠*/
}
header .logo {
    margin: 23px 0 0 0;

}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
        하위에 메뉴로 이동할때 정확한 높이가 안잡히면 out됨 */
        font-family: 'Gmarket Sans'; 
        font-weight: 500;
        font-size: 20px;
        padding: 0 30px 0 30px; /* 왼쪽, 오른쪽 여백 모두 주기 */
}
header .tnb {
    display: flex;
    margin: 38px 0 0 0;
}
header .tnb .mypage a {
    display: block; /* a태그 시 줘야함 */
    width: 34px;
    height: 34px;
   
    /* 글자 지우고 아이콘으로 대체*/
    font-size: 0;
    line-height: 0;
    position: relative; /* 넣기 */
}
header .tnb .mypage a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9998 17.0001C15.4415 17.0001 14.1075 16.4452 12.9978 15.3355C11.888 14.2258 11.3332 12.8917 11.3332 11.3334C11.3332 9.77508 11.888 8.44105 12.9978 7.33133C14.1075 6.22161 15.4415 5.66675 16.9998 5.66675C18.5582 5.66675 19.8922 6.22161 21.0019 7.33133C22.1116 8.44105 22.6665 9.77508 22.6665 11.3334C22.6665 12.8917 22.1116 14.2258 21.0019 15.3355C19.8922 16.4452 18.5582 17.0001 16.9998 17.0001ZM5.6665 25.5001V24.3667C5.6665 23.564 5.8731 22.8261 6.2863 22.1532C6.69949 21.4803 7.24845 20.9667 7.93317 20.6126C9.39706 19.8806 10.8846 19.3317 12.3957 18.9657C13.9068 18.5997 15.4415 18.4167 16.9998 18.4167C18.5582 18.4167 20.0929 18.5997 21.604 18.9657C23.1151 19.3317 24.6026 19.8806 26.0665 20.6126C26.7512 20.9667 27.3002 21.4803 27.7134 22.1532C28.1266 22.8261 28.3332 23.564 28.3332 24.3667V25.5001C28.3332 26.2792 28.0557 26.9463 27.5009 27.5011C26.946 28.056 26.279 28.3334 25.4998 28.3334H8.49984C7.72067 28.3334 7.05366 28.056 6.4988 27.5011C5.94393 26.9463 5.6665 26.2792 5.6665 25.5001ZM8.49984 25.5001H25.4998V24.3667C25.4998 24.107 25.4349 23.8709 25.305 23.6584C25.1752 23.4459 25.004 23.2806 24.7915 23.1626C23.5165 22.5251 22.2297 22.047 20.9311 21.7282C19.6325 21.4095 18.3221 21.2501 16.9998 21.2501C15.6776 21.2501 14.3672 21.4095 13.0686 21.7282C11.77 22.047 10.4832 22.5251 9.20817 23.1626C8.99567 23.2806 8.82449 23.4459 8.69463 23.6584C8.56477 23.8709 8.49984 24.107 8.49984 24.3667V25.5001ZM16.9998 14.1667C17.779 14.1667 18.446 13.8893 19.0009 13.3345C19.5557 12.7796 19.8332 12.1126 19.8332 11.3334C19.8332 10.5542 19.5557 9.88723 19.0009 9.33237C18.446 8.77751 17.779 8.50008 16.9998 8.50008C16.2207 8.50008 15.5537 8.77751 14.9988 9.33237C14.4439 9.88723 14.1665 10.5542 14.1665 11.3334C14.1665 12.1126 14.4439 12.7796 14.9988 13.3345C15.5537 13.8893 16.2207 14.1667 16.9998 14.1667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global {
    margin: 0 8px 0 13px;
}
header .tnb .global button {
    width: 34px;
    height: 34px;

        /* 글자 지우고 아이콘으로 대체*/
        font-size: 0;
        line-height: 0;
        position: relative; /* 넣기 */
}
header .tnb .global button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0002 31.1666C15.0641 31.1666 13.2342 30.7947 11.5106 30.051C9.78697 29.3072 8.28176 28.2919 6.99495 27.0051C5.70815 25.7183 4.69287 24.2131 3.94912 22.4895C3.20537 20.7659 2.8335 18.936 2.8335 16.9999C2.8335 15.0402 3.20537 13.2044 3.94912 11.4926C4.69287 9.78082 5.70815 8.28152 6.99495 6.99471C8.28176 5.7079 9.78697 4.69263 11.5106 3.94888C13.2342 3.20513 15.0641 2.83325 17.0002 2.83325C18.9599 2.83325 20.7956 3.20513 22.5075 3.94888C24.2193 4.69263 25.7186 5.7079 27.0054 6.99471C28.2922 8.28152 29.3075 9.78082 30.0512 11.4926C30.795 13.2044 31.1668 15.0402 31.1668 16.9999C31.1668 18.936 30.795 20.7659 30.0512 22.4895C29.3075 24.2131 28.2922 25.7183 27.0054 27.0051C25.7186 28.2919 24.2193 29.3072 22.5075 30.051C20.7956 30.7947 18.9599 31.1666 17.0002 31.1666ZM17.0002 28.2624C17.6141 27.4124 18.1453 26.527 18.5939 25.6062C19.0425 24.6853 19.4085 23.7055 19.6918 22.6666H14.3085C14.5918 23.7055 14.9578 24.6853 15.4064 25.6062C15.855 26.527 16.3863 27.4124 17.0002 28.2624ZM13.3168 27.6958C12.8918 26.9166 12.52 26.1079 12.2012 25.2697C11.8825 24.4315 11.6168 23.5638 11.4043 22.6666H7.22516C7.90988 23.8471 8.76579 24.8742 9.79287 25.7478C10.82 26.6214 11.9946 27.2708 13.3168 27.6958ZM20.6835 27.6958C22.0057 27.2708 23.1804 26.6214 24.2075 25.7478C25.2345 24.8742 26.0904 23.8471 26.7752 22.6666H22.596C22.3835 23.5638 22.1179 24.4315 21.7991 25.2697C21.4804 26.1079 21.1085 26.9166 20.6835 27.6958ZM6.021 19.8333H10.8377C10.7668 19.361 10.7137 18.8947 10.6783 18.4343C10.6429 17.9739 10.6252 17.4958 10.6252 16.9999C10.6252 16.5041 10.6429 16.026 10.6783 15.5655C10.7137 15.1051 10.7668 14.6388 10.8377 14.1666H6.021C5.90294 14.6388 5.8144 15.1051 5.75537 15.5655C5.69634 16.026 5.66683 16.5041 5.66683 16.9999C5.66683 17.4958 5.69634 17.9739 5.75537 18.4343C5.8144 18.8947 5.90294 19.361 6.021 19.8333ZM13.671 19.8333H20.3293C20.4002 19.361 20.4533 18.8947 20.4887 18.4343C20.5241 17.9739 20.5418 17.4958 20.5418 16.9999C20.5418 16.5041 20.5241 16.026 20.4887 15.5655C20.4533 15.1051 20.4002 14.6388 20.3293 14.1666H13.671C13.6002 14.6388 13.547 15.1051 13.5116 15.5655C13.4762 16.026 13.4585 16.5041 13.4585 16.9999C13.4585 17.4958 13.4762 17.9739 13.5116 18.4343C13.547 18.8947 13.6002 19.361 13.671 19.8333ZM23.1627 19.8333H27.9793C28.0974 19.361 28.1859 18.8947 28.245 18.4343C28.304 17.9739 28.3335 17.4958 28.3335 16.9999C28.3335 16.5041 28.304 16.026 28.245 15.5655C28.1859 15.1051 28.0974 14.6388 27.9793 14.1666H23.1627C23.2335 14.6388 23.2866 15.1051 23.322 15.5655C23.3575 16.026 23.3752 16.5041 23.3752 16.9999C23.3752 17.4958 23.3575 17.9739 23.322 18.4343C23.2866 18.8947 23.2335 19.361 23.1627 19.8333ZM22.596 11.3333H26.7752C26.0904 10.1527 25.2345 9.12561 24.2075 8.252C23.1804 7.37839 22.0057 6.72909 20.6835 6.30409C21.1085 7.08325 21.4804 7.89193 21.7991 8.73013C22.1179 9.56832 22.3835 10.436 22.596 11.3333ZM14.3085 11.3333H19.6918C19.4085 10.2944 19.0425 9.3145 18.5939 8.39367C18.1453 7.47284 17.6141 6.58742 17.0002 5.73742C16.3863 6.58742 15.855 7.47284 15.4064 8.39367C14.9578 9.3145 14.5918 10.2944 14.3085 11.3333ZM7.22516 11.3333H11.4043C11.6168 10.436 11.8825 9.56832 12.2012 8.73013C12.52 7.89193 12.8918 7.08325 13.3168 6.30409C11.9946 6.72909 10.82 7.37839 9.79287 8.252C8.76579 9.12561 7.90988 10.1527 7.22516 11.3333Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual {
    height: 960px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover; /* cover 꽉차게*/
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans'; 
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    padding: 658px 0 0 0;
}

.biz {
    margin: 168px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex로 정렬된 tit하고 list의 높이가 동일하게 설정됨
       각자 콘텐츠의 높이대로만 높이가 잡히로도록 설정하기 위해서
       tit에  sticky  적용하기 위해서 */
}
.biz .tit {
    position: sticky;
    /* 감싸고 있는 wrapper 안에서 고정 
       주의사항!!!!!!!!!!!!! 감싸는 요소중에서 단 1개라도 overflow:hidden;이 적용되어 있으면
       적용되지 않음 ----- 그래서 실제로는 이렇게 코딩 못함!!! 
       #wrap에는 무조건 overflow:hidden; 들어가야 하므로.... */
    top: 20px; /* 고정될때 위에서 떨어지는 값 */
}
.biz .tit strong {
    color: #0A55A6;
}
.biz .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 6px 0 14px 0;
    color: #1d1d1d;
}
.biz .list {
    width: 664px;
    padding-bottom: 61px; /* list가 transform으로 이동한 만큼 */
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px;
}
.biz .list ul li {
    width: 320px;
}
.biz .list ul li:nth-child(odd) {
    transform: translateY(61px);
}
.biz .list ul li:nth-child(even) {
    transform: translateY(-20px);
}
.biz .list ul li a {
    display: flex;
    align-items: flex-end;
    /* a안에 photo, inner가 있는데 photo는 absolute를 줘서
    flex의 영향을 안받음. 
    inner를 a안에서 하단 정렬로 배치함 */
    position: relative; /* photo 정렬의 기준 */
    height: 404px;
    color: rgba(255,255,255,0.8);
    border-radius: 20px;
    overflow: hidden; /* 영역 밖에 나오는 요소 숨김 */
}
.biz .list ul li a .photo {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    /* position이 있는 photo와 position이 없는 inner가 
      나란히 존재하는 경우 position이 있는 photo가 위에 올라감
      무조건 아래로 배치되게 하는 값  */
    width: 100%;
    height: 100%;
}
.biz .list ul li a .inner {
    padding: 0 34px 40px 34px;
}
.biz .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
}
.biz .list ul li a p {
    margin: 11px 0 34px 0;
    display: none; /* 숨김 */
}
.biz .list ul li a span {
    display: none; /* 숨김 */
    font-size: 15px;
    position: relative; /* after 정렬의 기준 */
    padding-right: 24px; /* 오른쪽에 아이콘 들어갈 자리 */
}
.biz .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9463 11.9995L8.87301 7.92652C8.73468 7.78802 8.66385 7.61394 8.66051 7.40427C8.65735 7.19477 8.72818 7.01752 8.87301 6.87252C9.01801 6.72769 9.19368 6.65527 9.40001 6.65527C9.60634 6.65527 9.78201 6.72769 9.92701 6.87252L14.4213 11.3668C14.5148 11.4604 14.5808 11.5592 14.6193 11.663C14.6578 11.7669 14.677 11.879 14.677 11.9995C14.677 12.12 14.6578 12.2322 14.6193 12.336C14.5808 12.4399 14.5148 12.5386 14.4213 12.6323L9.92701 17.1265C9.78851 17.2649 9.61443 17.3357 9.40476 17.339C9.19526 17.3422 9.01801 17.2714 8.87301 17.1265C8.72818 16.9815 8.65576 16.8059 8.65576 16.5995C8.65576 16.3932 8.72818 16.2175 8.87301 16.0725L12.9463 11.9995Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
/* 오버했을때 */
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0A55A6;
    opacity: 0.9;
    display: none;
}
.biz .list ul li a:hover .photo::before {
    display: block;
}
.biz .list ul li a:hover p {
    display: block;
    /* display:none로 안보이게 한 요소는 display에 다른 속성
    아무거나 줘도 나타나게됨. 만만한게 block이라 block줌 */
}
.biz .list ul li a:hover span {
    display: inline-block;
}

.news {
    background-color: #E0E3E8;
    margin: 146px 0 0 0;
    padding: 118px 0 128px 0;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.news .tit strong {
    color: #0A55A6;
}
.news .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    color: #1d1d1d;
    margin: 9px 0 0 0;
}
.news .list {
    margin: 37px 0 0 0;
}
.news .list ul li {
    margin: 0 0 10px 0;
}
.news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 28px 41px 22px 41px;
    background-color: #fff;
}
.news .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: #1d1d1d;

    width: calc(100% - 150px);
    /* a안에는 제목과 날짜가 존재하는데
        날짜는 길이 변하지 않음
        글서 날짜가 들어갈 넓이와 제목 사이으ㅢ 여백을 더해서
        100% (a의 넓이 기준) 에서 빼줌 
        h3가 가질 수 있는 최대 넓이 
        제목은 길게 작성될 수도 있기 때문에 너무 길면 문자를 잘라버려야함 
        
        제목을 1줄로 제한할때 조건
        1. 넓이가 명확해야 함 (block요소거나)
        */
        white-space: nowrap; /* 줄바꿈 금지*/
        overflow: hidden; /* 넘치는 요소 숨기기 */
        text-overflow: ellipsis; /* 짤린 글자는 뒤에 ... 추가 */
}
/* 오버했을때 */
.news .list ul li a:hover {
    background-color: #0A55A6;
    color: #fff;
}
.news .list ul li a:hover h3 {
    color: #fff;
}
.news .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 8px;
    top: 51px;
}
.news .more a {
    display: block;
    padding: 5px 24px 5px 5px;

    position: relative; /* after 정렬의 기준 */
}
.news .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 20px; /* 아이콘의 크기 */
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 1s; /* 변경되는 값을 천천히 변경 */
}
.news .more a:hover {
    color: #0A55A6;
}
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%230A55A6'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}

.webzine {
    margin: 162px 0 0 0;
    position: relative; /* more 정렬의 기준*/
}
.webzine .tit strong {
    color: #0A55A6;
}
.webzine .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 6px 0 0 0;
    color: #1d1d1d;
}
.webzine .list {
    margin: 35px 0 0 0;
    overflow: hidden; /* 가로스크롤 삭제*/
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    /*
        li의 넓이 (404) * li의 갯수 (5)  = 2020
        li 사이의 여백 (24) * li의 갯수 -1 (4) = 96
        2020 + 96 = 2116

        * 넓이가 wrapper보다 넓을때
        flex로 정렬된 li들은 무조건 한줄로 들어가려고 
        li에 넓이를 줘도 찌그러짐.. (사이즈가 변경됨)
        넓이를 유지하려면 넓이를 계산해서 ul한테 줘야함
    */
    width: 2116px;
}
.webzine .list ul li {
    width: 404px;
}
.webzine .list ul li a {
    display: block;
}
.webzine .list ul li a .photo {
    height: 248px;
    border-radius: 20px;
    overflow: hidden; /* border-radius가 적용이 안되서 */
    position: relative; /* category정렬의 기준 */
}
.webzine .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; 
    /* 오버하거나 class가 추가되거나 변경사항이 생겼을때 
       그 수정사항을 천천히 실행하라 */
}
.webzine .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.webzine .list ul li a .photo .category {
    position: absolute; /* photo를 기준으로 정렬 */
    bottom: 7px;
    left: 9px;
    background-color: #0A55A6;
    color: #fff;
    padding: 5px 17px 3px 17px;
    border-radius: 25px;
}
.webzine .list ul li a:hover .photo .category {
    background-color: #3997D7;
}
.webzine .list ul li a .category {
    color: #0A55A6;
    display: block;
    margin: 24px 0 0 0;
}
.webzine .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin: 9px 0 15px 0;
    color: #1d1d1d;

    line-height: 1.1;
    height: 2.2em;
    overflow: hidden;
}
.webzine .list ul li a p {
    /* 2줄로 제한 */
    line-height: 1.4;
    height: 4.2em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;
}
.webzine .more {
    position: absolute; /* webzine을 기준으로 정렬 */
    right: calc(50% - 630px); /* 1260에 반_반응형 */
    top: 54px;
    /* weapper를 기준으로 정렬해서 layout의 오른쪽에
        배치하면 좋지만 코딩구조상 그게 불가할 경우
        가운데를 기준으로 해서 layout의 넓이의 절반을
        빼거나 더해서 오른쪽/왼쪽에 배치 */
}
.webzine .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 8px;
    top: 51px;
}
.webzine .more a {
    display: block;
    padding: 5px 24px 5px 5px;

    position: relative; /* after 정렬의 기준 */
}
.webzine .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 20px; /* 아이콘의 크기 */
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 1s; /* 변경되는 값을 천천히 변경 */
}
.webzine .more a:hover {
    color: #0A55A6;
}
.webzine .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37467 10.6247H5.20801C5.03092 10.6247 4.88252 10.5647 4.7628 10.4449C4.64294 10.325 4.58301 10.1765 4.58301 9.99947C4.58301 9.82224 4.64294 9.67384 4.7628 9.55426C4.88252 9.43454 5.03092 9.37467 5.20801 9.37467H9.37467V5.20801C9.37467 5.03092 9.4346 4.88252 9.55447 4.7628C9.67433 4.64294 9.8228 4.58301 9.99988 4.58301C10.1771 4.58301 10.3255 4.64294 10.4451 4.7628C10.5648 4.88252 10.6247 5.03092 10.6247 5.20801V9.37467H14.7913C14.9684 9.37467 15.1168 9.4346 15.2365 9.55447C15.3564 9.67433 15.4163 9.8228 15.4163 9.99988C15.4163 10.1771 15.3564 10.3255 15.2365 10.4451C15.1168 10.5648 14.9684 10.6247 14.7913 10.6247H10.6247V14.7913C10.6247 14.9684 10.5647 15.1168 10.4449 15.2365C10.325 15.3564 10.1765 15.4163 9.99947 15.4163C9.82224 15.4163 9.67384 15.3564 9.55426 15.2365C9.43454 15.1168 9.37467 14.9684 9.37467 14.7913V10.6247Z' fill='%230A55A6'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
}

.banner {
    margin: 126px 0 0 0;
    padding: 123px 0 138px 0;
    background-color: #E0E3E8;
}
.banner .tit strong {
    color: #0A55A6;
}
.banner .tit h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin: 6px 0 14px 0;
    color: #1d1d1d;
}
.banner .list {
    margin: 46px 0 0 0;

}
.banner .list ul {
    display: flex;
    justify-content: space-between; /* 여백 가운데 정렬 꼽사리 */

}
.banner .list ul li {
    width: 404px;
}
.banner .list ul li a {
    display: block; /* a태그일 경우 무조건 넣어줌 */
    height: 88px; /* padding 보다는 높이값을 줘야 값을 바뀌지 않음 */
    background-color: #fff;
    padding: 34px 0px 0px 24px; /* height를 줬을땐 top과 left만 padding 값을 줌 */
    font-size: 20px;
    font-family: 'Gmarket Sans';
    font-weight: 500;
    line-height: 1.1;
    color: #1d1d1d;
    position:  relative; /* 아래 after 정렬의 기준*/
}
.banner .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬*/
    right : 23px;
    top: 28px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 15L10.875 10.125C10.6458 9.89583 10.5312 9.60417 10.5312 9.25C10.5312 8.89583 10.6458 8.60417 10.875 8.375C11.1042 8.14583 11.3958 8.03125 11.75 8.03125C12.1042 8.03125 12.3958 8.14583 12.625 8.375L18.375 14.125C18.5 14.25 18.5885 14.3854 18.6406 14.5313C18.6927 14.6771 18.7188 14.8333 18.7188 15C18.7188 15.1667 18.6927 15.3229 18.6406 15.4688C18.5885 15.6146 18.5 15.75 18.375 15.875L12.625 21.625C12.3958 21.8542 12.1042 21.9688 11.75 21.9688C11.3958 21.9688 11.1042 21.8542 10.875 21.625C10.6458 21.3958 10.5312 21.1042 10.5312 20.75C10.5312 20.3958 10.6458 20.1042 10.875 19.875L15.75 15Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.banner .list ul li a:hover {
    background-color: #0A55A6;
    color: #fff;
}
.banner .list ul li a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 15L10.875 10.125C10.6458 9.89583 10.5312 9.60417 10.5312 9.25C10.5312 8.89583 10.6458 8.60417 10.875 8.375C11.1042 8.14583 11.3958 8.03125 11.75 8.03125C12.1042 8.03125 12.3958 8.14583 12.625 8.375L18.375 14.125C18.5 14.25 18.5885 14.3854 18.6406 14.5313C18.6927 14.6771 18.7188 14.8333 18.7188 15C18.7188 15.1667 18.6927 15.3229 18.6406 15.4688C18.5885 15.6146 18.5 15.75 18.375 15.875L12.625 21.625C12.3958 21.8542 12.1042 21.9688 11.75 21.9688C11.3958 21.9688 11.1042 21.8542 10.875 21.625C10.6458 21.3958 10.5312 21.1042 10.5312 20.75C10.5312 20.3958 10.6458 20.1042 10.875 19.875L15.75 15Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}



footer {/* 글자색 연하게 */
    padding: 61px 0 77px 0;
    background-color: #222222;
    color: rgba(255,255,255,0.8);
}
footer .f_nav ul {
    display: flex; /* 오른쪽 여백만 생각하고 주기*/
    gap: 40px;
}
footer .f_nav ul li a {
    position: relative;
}
footer .f_nav ul li a::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -22px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
}
/* 마지막 li의 after를 숨김 */
footer .f_nav ul li:last-child a::after {
    display: none;
}
footer .f_info {
    margin: 27px 0 10px 0;
    display: flex;
    gap: 21px;
}


