/*
 * layout.css
   header/footer 모든 페이지의 공통 스타일 적용
 */
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: var(--header-h);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /*좌우여백*/
  transition: 0.5s;
}
header .logo {
  display: block;
  color: transparent; /*글자색 투명*/
  width: 7.7647em;
  height: 2.5882em;
  position: relative;
}
header .logo a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
/*header 가 고정되었을때 */
header.fixed {
  background-color: #fff;
  color: #555;
  border: 1px solid #ededed;
}
header.fixed {}/*스크롤 넣을것?*/
header.fixed .logo a::before {
  background-image: url(../images/common/logo.svg);
}
@media screen and (min-width:1001px){ /*1001이상일때만*/
                    header .gnb .gnb_open,
                    header .gnb .gnb_close {
                      display: none; /*숨김*/
                    }
                    header .gnb_wrap ul.depth1 { /*??.붙이는 태그*/
                      display: flex;
                    }
                    header .gnb_wrap ul.depth1 > li { /* >이유??*/
                      width: 8.1765em;
                      text-align: center;
                      position: relative;
                    }
                    header .gnb_wrap ul.depth1 > li > a { /*>이유*/
                      display: block;
                      font-size: 1.1765rem;
                      font-weight: 700;
                      /*color: #1d1d1d;*/
                      line-height: var(--header-h)
                    }
                    header .gnb_wrap ul.depth1 > li > ul.depth2 {
                      position: absolute;
                      left: 0;
                      top: var(--header-h); /* header의 높이 */
                      width: 100%;
                      padding-top: 1em;
                      display: none;
                    }
                    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                      display: block;
                      line-height: 2.3529em;
                    }
                    header .global {
                      position: relative;
                    }
                    header .global button {
                      font-size: 0.8824rem;
                      width: 7.3em;
                      padding: 0.5333em 2.6em 0.6em 2.2667em;
                      border: 1px solid #fff;
                      border-radius: 2.5em;
                      position: relative;
                    }
                    header .global button::before {
                      content: "";
                      position: absolute;
                      left: 0.8667em;
                      top: 0.5333em;
                      width: 1.2667em;
                      height: 1.2667em;
                      background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50033 17.0208C8.46918 17.0208 7.49609 16.8231 6.58105 16.4278C5.66602 16.0325 4.86802 15.4943 4.18705 14.8132C3.50596 14.1323 2.96776 13.3343 2.57245 12.4192C2.17715 11.5042 1.97949 10.5311 1.97949 9.49996C1.97949 8.46063 2.17715 7.4855 2.57245 6.57455C2.96776 5.66361 3.50596 4.86765 4.18705 4.18669C4.86802 3.50559 5.66602 2.96739 6.58105 2.57208C7.49609 2.17678 8.46918 1.97913 9.50033 1.97913C10.5397 1.97913 11.5148 2.17678 12.4257 2.57208C13.3367 2.96739 14.1326 3.50559 14.8136 4.18669C15.4947 4.86765 16.0329 5.66361 16.4282 6.57455C16.8235 7.4855 17.0212 8.46063 17.0212 9.49996C17.0212 10.5311 16.8235 11.5042 16.4282 12.4192C16.0329 13.3343 15.4947 14.1323 14.8136 14.8132C14.1326 15.4943 13.3367 16.0325 12.4257 16.4278C11.5148 16.8231 10.5397 17.0208 9.50033 17.0208ZM9.50033 15.8165C9.90434 15.2806 10.2444 14.7402 10.5204 14.1951C10.7964 13.6501 11.0212 13.0543 11.1949 12.4078H7.80576C7.98956 13.0746 8.21697 13.6806 8.48798 14.2256C8.75886 14.7707 9.09631 15.301 9.50033 15.8165ZM7.96726 15.5988C7.66379 15.1633 7.39126 14.6684 7.14967 14.1138C6.90808 13.5591 6.72032 12.9904 6.5864 12.4078H3.90087C4.319 13.2299 4.87976 13.9206 5.58316 14.4799C6.28655 15.0391 7.08126 15.4121 7.96726 15.5988ZM11.0334 15.5988C11.9194 15.4121 12.7141 15.0391 13.4175 14.4799C14.1209 13.9206 14.6817 13.2299 15.0998 12.4078H12.4143C12.2549 12.9954 12.0544 13.5666 11.8128 14.1213C11.5713 14.676 11.3115 15.1685 11.0334 15.5988ZM3.40291 11.2203H6.34593C6.29619 10.926 6.2601 10.6375 6.23767 10.3548C6.21537 10.0721 6.20422 9.7872 6.20422 9.49996C6.20422 9.21272 6.21537 8.92778 6.23767 8.64516C6.2601 8.3624 6.29619 8.0739 6.34593 7.77967H3.40291C3.32678 8.04857 3.26846 8.32816 3.22795 8.61844C3.18731 8.90872 3.16699 9.20256 3.16699 9.49996C3.16699 9.79736 3.18731 10.0912 3.22795 10.3815C3.26846 10.6718 3.32678 10.9513 3.40291 11.2203ZM7.53323 11.2203H11.4674C11.517 10.926 11.5531 10.6401 11.5755 10.3625C11.5978 10.0849 11.6089 9.79736 11.6089 9.49996C11.6089 9.20256 11.5978 8.91505 11.5755 8.63744C11.5531 8.35983 11.517 8.0739 11.4674 7.77967H7.53323C7.48362 8.0739 7.4476 8.35983 7.42517 8.63744C7.40287 8.91505 7.39172 9.20256 7.39172 9.49996C7.39172 9.79736 7.40287 10.0849 7.42517 10.3625C7.4476 10.6401 7.48362 10.926 7.53323 11.2203ZM12.6547 11.2203H15.5977C15.6739 10.9513 15.7322 10.6718 15.7727 10.3815C15.8133 10.0912 15.8337 9.79736 15.8337 9.49996C15.8337 9.20256 15.8133 8.90872 15.7727 8.61844C15.7322 8.32816 15.6739 8.04857 15.5977 7.77967H12.6547C12.7045 8.0739 12.7406 8.3624 12.763 8.64516C12.7853 8.92778 12.7964 9.21272 12.7964 9.49996C12.7964 9.7872 12.7853 10.0721 12.763 10.3548C12.7406 10.6375 12.7045 10.926 12.6547 11.2203ZM12.4143 6.59217H15.0998C14.6766 5.75986 14.1197 5.06913 13.429 4.51998C12.7382 3.97096 11.9397 3.59545 11.0334 3.39344C11.3369 3.85419 11.6068 4.35815 11.8433 4.90532C12.0798 5.45236 12.2702 6.01465 12.4143 6.59217ZM7.80576 6.59217H11.1949C11.0111 5.93033 10.7799 5.32055 10.5014 4.76282C10.2227 4.2051 9.88903 3.67864 9.50033 3.18345C9.11162 3.67864 8.77793 4.2051 8.49926 4.76282C8.22073 5.32055 7.98956 5.93033 7.80576 6.59217ZM3.90087 6.59217H6.5864C6.73048 6.01465 6.92081 5.45236 7.15739 4.90532C7.39383 4.35815 7.66379 3.85419 7.96726 3.39344C7.05579 3.59545 6.25601 3.97228 5.56792 4.52394C4.8797 5.07547 4.32401 5.76488 3.90087 6.59217Z' fill='white'/%3E%3C/svg%3E%0A");
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: contain;
                    }
                    header .global button::after{
                      content: "";
                      position: absolute;
                      right: 0.8667em;
                      top: 0.6em;
                      width: 1.1333em;
                      height: 1.1333em;
                      background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50001 7.40478L5.61497 10.29C5.51686 10.388 5.39355 10.4382 5.24504 10.4405C5.09664 10.4428 4.97109 10.3926 4.86838 10.29C4.76579 10.1873 4.7145 10.0629 4.7145 9.91671C4.7145 9.77055 4.76579 9.64612 4.86838 9.54342L8.05181 6.35999C8.11816 6.29376 8.18811 6.24701 8.26165 6.21974C8.3352 6.19247 8.41465 6.17883 8.50001 6.17883C8.58536 6.17883 8.66481 6.19247 8.73836 6.21974C8.81191 6.24701 8.88186 6.29376 8.94821 6.35999L12.1316 9.54342C12.2296 9.64152 12.2798 9.76483 12.2822 9.91334C12.2844 10.0617 12.2342 10.1873 12.1316 10.29C12.0289 10.3926 11.9045 10.4439 11.7583 10.4439C11.6122 10.4439 11.4878 10.3926 11.385 10.29L8.50001 7.40478Z' fill='white'/%3E%3C/svg%3E%0A");
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: contain;
                    }
                    header .global .list {
                      position: absolute;
                      left: 0;
                      top: 2.4em;
                      width: 100%;
                      background-color: #fff;
                      border-radius: 1em;
                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                      color: #1d1d1d;
                      text-align: center;
                      padding: 1em 0 1em 0;
                      display: none; /*숨김*/
                    }
                    header .global .list a {
                      display: block;
                      line-height: 1.6667;/*em 안붙여도됨*/
                    }
                    header .global .list ul li.active {
                      font-weight: 700;
                    }
                    
                    /********header 가 고정되었을때 */
                    header.fixed .gnb_wrap ul.depth1 {
                      color: #1d1d1d;
                    }
                    
                  }/*media*/
@media screen and (max-width:1000px){ 
                    header {
                      padding-right: 0; /*오른쪽 여백 삭제*/
                    }
                    header .gnb .gnb_open {
                      width: var(--header-h);
                      height: var(--header-h);
                      color: transparent; /*투명*/
                      position: relative; /*before 정렬*/
                    }
                    header .gnb .gnb_open::before {
                      content: "";
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%); /*위아래/좌우 가운데*/
                      width: 42.85%;
                      height: 42.85%;
                      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.9585 20.5736C4.71058 20.5736 4.50282 20.4897 4.3352 20.3218C4.1674 20.1542 4.0835 19.9464 4.0835 19.6983C4.0835 19.4503 4.1674 19.2426 4.3352 19.075C4.50282 18.9076 4.71058 18.8239 4.9585 18.8239H23.0418C23.2897 18.8239 23.4975 18.9077 23.6651 19.0753C23.8329 19.2431 23.9168 19.451 23.9168 19.6991C23.9168 19.9471 23.8329 20.1548 23.6651 20.3224C23.4975 20.4899 23.2897 20.5736 23.0418 20.5736H4.9585ZM4.9585 14.875C4.71058 14.875 4.50282 14.7911 4.3352 14.6233C4.1674 14.4555 4.0835 14.2476 4.0835 13.9997C4.0835 13.7516 4.1674 13.5438 4.3352 13.3764C4.50282 13.2088 4.71058 13.125 4.9585 13.125H23.0418C23.2897 13.125 23.4975 13.2089 23.6651 13.3767C23.8329 13.5445 23.9168 13.7524 23.9168 14.0003C23.9168 14.2484 23.8329 14.4561 23.6651 14.6236C23.4975 14.7912 23.2897 14.875 23.0418 14.875H4.9585ZM4.9585 9.1761C4.71058 9.1761 4.50282 9.09229 4.3352 8.92468C4.1674 8.75688 4.0835 8.54892 4.0835 8.30081C4.0835 8.05289 4.1674 7.84513 4.3352 7.67752C4.50282 7.5101 4.71058 7.42639 4.9585 7.42639H23.0418C23.2897 7.42639 23.4975 7.51029 23.6651 7.6781C23.8329 7.84571 23.9168 8.05357 23.9168 8.30168C23.9168 8.5496 23.8329 8.75736 23.6651 8.92498C23.4975 9.09239 23.2897 9.1761 23.0418 9.1761H4.9585Z' fill='white'/%3E%3C/svg%3E%0A");
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: contain; /*??*/
                    }
                    header .gnb_wrap {
                      display: none;
                    }               
                    header .gnb .gnb_close {
                      display: none;
                    }               
                    header .global {
                      display: none;
                    }               
}/*media*/

@media screen and (max-width:768px){ 
  header .logo {
    width: 5.1429em;
    height: 1.7143em;
    margin-bottom: 0.7143em;
  }
}/*media */