/*
 * main.css
 * 메인페이지에만 적용되는 스타일 입력,
 * 다른 css import
 */
@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none;
}
.visual .swiper ul li {
    position: relative;
}
.visual .swiper ul li .photo {
    overflow: hidden;
    height: 800px;
}
.visual .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper ul li .visual_txt {
    position: absolute;
    left: 0;
    bottom: 216px;
    
}