/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/

header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 148px;
    padding: 0 0 0 108px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
header .gnb_open {
    position: relative;
    width: 148px;
    height: 148px;
    font-size: 0;
    line-height: 0;
} 
header .logo a {
    display: block;
    margin: 25px 0 0 0 ;
}
header .logo img{
    width: 128px;
    height: 107px;
}
header .gnb_open::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.8018 28.1982H0V24.8018H24.8018V0H28.1982V24.8018H53V28.1982H28.1982V53H24.8018V28.1982Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:1820px){
    header {
        height: 97px;
    }

}